.homePage {
    width: 100%;
    height: calc(100vh - 80px);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.homePage .postContents {
    width: 600px;
    height: auto;
    max-height: 600px;
    background-color: #f3d2c1;
    border: 3px solid #001858;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.postHeader h1 {
    text-align: center;
    margin-top: 5px;
    color: #001858;
}

.postContents .postTextContainer {
    height: auto;
    word-wrap: break-word;
    max-height: 400px;
    width: 100%;
    color: #172c66;
}

.nameAndDeleteButton {
    display: flex;
    align-items: center;
}

.nameAndDeleteButton h3 {
    flex: 90%;
    color: #001858;
}

.nameAndDeleteButton button {
    flex: 10%;
    background-color: #fa5246;
    color: white;
    padding: 7px 15px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.nameAndDeleteButton button:hover {
    background-color: #c03f36;
}
