.logArea {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.log {
    background-color: #f3d2c1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 500px;
    gap: 50px;
    padding: 10px 40px;
    border: 3px solid #001858;
}

.log p {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    color: #172c66;
}

.log button {
    font-size: 24px;
    line-height: 64px;
    font-weight: bold;
    margin: 0 auto;
    width: 50%;
    background-color: #f582ae;
    border: none;
    color: #001858;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.log button:hover {
    background-color: #f9a4c5;
}
