nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #f3d2c1;
    gap: 45px;
    border-bottom: 3px solid #001858;
}

nav a {
    text-decoration: none;
    color: #001858;
    transition: all 0.3s;
}

nav a:hover {
    color: #616779;
}

nav a svg {
    margin-right: 5px;
}
